name: release

on: 
  push:
    tags:
    - '*'

jobs:
  release:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
    - uses: actions/checkout@v5
    - uses: ncipollo/release-action@v1
      with:
        bodyFile: "releasenotes.md"
        token: ${{ secrets.GITHUB_TOKEN }}

  releases-matrix:
    name: Release Go Binary
    runs-on: ubuntu-latest
    env:
      CGO_ENABLED: 0
    strategy:
      matrix:
        # build and publish in parallel: linux/386, linux/amd64, linux/arm64, windows/386, windows/amd64
        goos: [linux, windows]
        goarch: ["386", amd64, arm64]
        exclude:
          - goarch: arm64
            goos: windows
          - goarch: 386
            goos: windows
    steps:
    - uses: actions/checkout@v5
    - uses: wangyoucao577/go-release-action@v1.54
      with:
        github_token: ${{ secrets.GITHUB_TOKEN }}
        goos: ${{ matrix.goos }}
        goarch: ${{ matrix.goarch }}
        md5sum: false
#        extra_files: LICENSE README.md